.header-color {
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.landing-grid {
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.my-image {
  /* height: 250px; */  
  padding-top: 5em;
}


.banner-text  {
  font-size: 66px;
  font-weight: bold;
  color: whitesmoke;

}




















/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans');

:root {

  --primaryColor:#5fb7ea;
  --primaryRBG: rgba(0,0,0,0.3);
  --mainGrey:#fafafa;
  --darkGrey:#5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: 0.3s ease-in-out;
  --mainSpacing:0.3rem;
}

.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacin);
}


body {
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
} */
