.header-color {
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.drawer-color {
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.landing-grid {
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;

}

.my-image {
  height: 250px;  
  padding-top: 12em;
}

.banner-text {
  opacity: 1;
  width: 75%;
  margin: auto

}

.banner-text h1 {
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
}

.banner-text hr {
  border-top: 3px double white;
  width: 50%;
  margin: auto;

}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  width: 50%;
  /* justify-content: space-between; */
  margin: auto;
  justify-content: center;


}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 10px;
  

}

.myinfo {
  font-size: 5em;
}

.contact-body {
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 6em;

}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: 2px  solid lightsalmon;
  margin-bottom: 20px;
  padding-top: 2em;
  font-size: 20px;

}

.contact-grid p {
  font-size: 19px;
  text-align: left;
}

.contact-grid hr {
  border-top: 5px dotted white;
  width: 70%;
  margin: auto
}

.contact-grid h3 {
  justify-content: center;
}

.contact-list i {
  font-size: 22px;
  padding-left: 8rem;
  padding-right: 2rem;
  justify-content: right;
}

.contact-list {
  text-align: right;
  padding-right: 8rem;
}




